doctype html
html
  head
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
    link(href="resources/style.css" rel="stylesheet" type="text/css")
    script(crossorigin src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  body
    div(class="container")
      div(id="core")
        h1 U.S. National Park Wildlife
        form(method='post' action='results' enctype='multipart/form-data')
          div(class="form-group")
            label(for='parks') Select National Park
            select(name="park" id="parks" class="form-control")
              each park in parks
                option(value=park) #{park}
          div(class="form-group")
            label(id="rank") Select Category
            select(name="category" id="#rank" class="form-control")
              each category in categories
                option(value=category) #{category}
          input(type="hidden" name="index" value="0")
          button(class="btn btn-primary" type="submit") Submit
