//https://pugjs.org/language/iteration.html
//https://pugjs.org/language/conditionals.html

doctype html
html
  head
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
    link(href="resources/style.css" rel="stylesheet" type="text/css")
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  body
    div(class="container")
      div(id="core2")
        //- div(id="previous")
        //-   if (lowerBound - 10) >= 0
        //-     form(id="prev" method="post" action="results" enctype="multipart/form-data")
        //-       input(name="Previous" value="Previous" type="submit")
        //-       input(
        //-         type="hidden"
        //-         name="index"
        //-         value=lowerBound - 10)
        //-       input(type="hidden" name="park" value=park)
        //-       input(type="hidden" name="category" value=category)
        h1 Results
        //- h2 Category: #{category}
        //- div(id="subtitle")
        //-   i(id="previous" class="fas fa-angle-left")
        //-   div(id='temp1') #{lowerBound} through #{upperBound} of #{count} Species in <strong>#{park}</strong>
        //-   i(id="previous" class="fas fa-angle-right")
        //- div(id="next")
        //-   if (lowerBound + 10) < count
        //-     form(id="next" method="post" action="results" enctype="multipart/form-data")
        //-       input(name="Next" type="submit" value="Next")
        //-       input(
        //-         type="hidden"
        //-         name="index"
        //-         value=lowerBound + 10)
        //-       input(type="hidden" name="park" value=park)
        //-       input(type="hidden" name="category" value=category)
        table(class="table")
          thead
            th Sci. Name
            th Common Name
            th Category
            th Abundance
          tbody
            each record in query
              tr
                td=record["Scientific Name"]
                td=record["Common Names"]
                td=record["Category"]
                td=record["Abundance"]
        p Click <a href="index">here</a> to return to the Search Page
